.foreigner {
   width: 100px;
   height: 100px;
   background-color: cornflowerblue;

}   
.text{
   font-size: 2em;
}

 
.squirrel{
   font-size: 2rem;
}

.localunc {
   width: 50%;
   background-color: red;
}

.toy {
   color: #6392f5;
}

.time{
   color: rgb(251, 253, 101);
}


.food {
   color: rgba(4, 238, 28);
}





