p{color: crimpson;} 
#header {background-color: blue;text-align: center;}

.worker{
    color: mistyrose;
    background-color: dodgerblue;
}

#theme{
    color: rgb(136, 147, 199);
    background-color: rgb(169, 37, 85);
}

h3{
    color: rgb(93, 199, 126);
    background-color: rgb(175, 118, 58);
}













